<h1>Orders#new</h1>

<% if cart.present? %>
  <ul>
    <% cart.each do |product| %>
      <li>
        <%= product.name %>
      </li>
<% end %>
<% end %>
<li>
  Taxes: <%= number_to_currency @taxes%>
</li>
  </ul>

<p><%= @customer.name %></p>
<p><%= @customer.address %></p>
<p><%= @customer.postal_code %></p>
<p><%= @customer.province.name %></p>

<%= form_with url: checkout_create_path, remote: true, allow_other_host: true, data: { turbo: false}  do %>
<%#= hidden_field_tag(:product_id, product.id) %>
<%= button_tag 'Buy Now 💳' %>
<%end%>