<!DOCTYPE html>
<html>
  <head>
    <title>Ecomm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render partial: 'common/menu'%>
    <%= render_breadcrumbs :separator => ' / '%>
    <ul>
      <li>
        cart
        <% if cart.present? %>
          <sup><%= cart.size %></sup>
          <ul>
            <% cart.each do |product| %>
              <li>
                <%= product.name %><%= link_to '➖', cart_path(product), method: :delete %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    </ul>
    <main>
      <p><%= debug session[:shopping_cart] %></p>
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
      <%= yield %>
    </main>
    <footer>
      <details>
        <summary>
          Cart
          <% if cart.present? %>
            <sup><%= cart.size %></sup>
          <% end %>
        </summary>
        <% if cart.present? %>
          <ul>
            <% cart.each do |product| %>
              <li>
                <%= product.name %> <%= link_to '❌', cart_path(product.id), method: :delete %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p>No items in your cart.</p>
        <% end %>
      </details>
      <hr>
      <p><span>🐐</span> Goats in Coats <span>🧥</span> - Copywrong <%= Time.current.year %></p>
    </footer>
  </body>
</html>
